/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styles */
.header {
  height: 15vh;
  width: 100%;
  background-color: #e5eeeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: auto;
  width: 50%;
  max-width: 350px;
}

/* Body Wrapper styles */
.bodyWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

/* Top Row styles */
.topRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.right,
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right .photo {
  width: 100%;
  max-width: 650px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.left h1 {
  margin-bottom: 25px;
}

.left p {
  font-size: 1.1rem;
  text-align: justify;
}

/* Bottom Row styles */
.bottomRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  flex-direction: row;
}

.loginWrapper h2{
  padding: 10px 20px;
  color: rgb(49, 48, 48);
  font-size: 18px;
  margin: 0 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background-color: #009761;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
  border-radius: 5px;
  width: 200%;
  max-width: 200px;
  text-align: center;
}

.btn:hover {
  background-color: #10d48e;
}

/* Responsive design */
@media (max-width: 768px) {
  .topRow {
    flex-direction: row;
  }

  .left, .right {
    width: 100%;
    padding: 10px;
  }

  .left p {
    font-size: 1rem;
  }

  .btn {
    max-width: 100%;
  }
}


.HiddenloginWrapper{
  display: none;
}


