.header {
  height: 20vh;
  width: 100%;
  background-color: #e5eeeb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: auto;
  width: 350px;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
}

.topRow {
  height: 30vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.right,
.left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
    padding-right: 20px;
}

.right .photo{
    height: auto;
    width: 400px;
}

.left {
  padding: 10vw;
}

.left h1{
    margin-bottom: 25px;
}

.left p {
  font-size: 1rem;
}

.bottomRow {
  height: 40vh;
  display: flex;
}

.loginWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 30vw;
  padding: 10px;
  background-color: #009761;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin: 0 90px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #10d48e;
}

.HiddenloginWrapper{
  display: none;
}