.wrapper {
  background-color: black;
  width: 100%;
  height: 6vh;
  display: flex; 
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}

p {
  font-size: 1.1rem;
}

.wrapper .items {
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row * {
  padding: 0 40px;
}